.newsfeed{
    flex: 0.7;
    color: white;
}

.newsfeed__chartSection{
    display: flex;
    flex-direction: column;
}



.newsfeed__portfolio{
    text-align: left;
}

.newsfeed__portfolio > h1{
    margin: 0;
}

.newsfeed__portfolio > p{
    margin-top: 0;
}

.newsfeed__chart{
    width : 100%;
}

.newsfeed__buying__section{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3b4754;
    padding: 20px 0px 20px 0px;
  
}

.newsfeed__market__section{
    margin-top: 60px;
}

.newsfeed__market__box{
    height: 10vh;
    padding: 20px;
    border: 1px solid #31363A;
    border-radius: 4px;
    text-align: left;
}

.newsfeed__market__box p{
    color: #7B858A;
    font-size:15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}

.newsfeed__popularlist__intro{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.newsfeed__popularlist__section{
    margin-top: 60px;
}

.newsfeed_popularlists_badges {
    display: flex;
    flex-wrap: wrap;
  }

  .newsfeed__popularlists__intro > p {
    font-weight: bold;
    color: orange;
  }
  
  .newsfeed_popularlists_badges .topic__badge {
    border: 1px solid #31363A;
    background-color: transparent;
    color: white;
    margin-right: 8px;
    margin-bottom: 8px;
  }